.chart {
  position: relative;
  width: auto;
  height: 150px;
  border-top: var(--gray-400) 1px solid;
}

@media screen and (min-width: 600px) {
  .chart {
    border-top: none;
    height: 260px;
  }
}

.labels {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  font-size: var(--size-500);
}

.svg {
  max-width: 100%;
}

.textY {
  position: absolute;
  transform: translateY(-50%);
  text-shadow: var(--text-stroke);
}

.textX {
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 375px) {
  .textX:nth-child(2n) {
    display: none;
  }
}

.textX:last-child {
  display: none;
}

.area {
  fill-opacity: 0.5;
  shape-rendering: crispEdges;
}

.line {
  stroke-width: 6;
  fill: transparent;
}

.lineY {
  stroke: var(--gray-900);
  stroke-width: 1;
}

.lineY:last-of-type {
  display: none;
}
