.footer {
  background-color: var(--darkblue);
  padding: var(--space-300);
}

.logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--space-300);
  font-size: var(--size-500);
}

.logo {
  text-align: center;
  color: #fff;
  font-weight: var(--weight-bold);
  display: block;
}

.links {
  text-align: center;
  display: flex;
  grid-gap: 4px;
  justify-content: center;
}

.link {
  color: #fff;
  margin-right: var(--space-100);
  min-width: 48px;
  min-height: 48px;
  text-align: center;
  vertical-align: bottom;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.link:not(:last-child) {
  margin-right: 12px;
}

.link:not(:last-child):after {
  content: "";
  position: absolute;
  right: -8px;
  flex: 1;
  height: var(--space-700);
  width: 1px;
  background-color: rgb(255 255 255 / 0.25);
  transform: rotate(10deg);
}

@media screen and (min-width: 600px) {
  .footer > div {
    display: flex;
  }
  .logos,
  .links {
    flex: 1;
  }
  .links {
    justify-content: flex-end;
  }
}
