html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-family: var(--font-family);
  font-size: var(--size-600);
  color: var(--text);
  background-color: var(--background-content);
  height: 100%;
}

body > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: var(--link);
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: var(--heading);
}

h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0 !important;
}

p {
  line-height: 1.4;
  font-size: var(--size-600);
}

* {
  box-sizing: border-box;
}

*:focus,
*:focus-visible {
  outline: var(--link) solid 2px;
  outline-offset: 1px;
}
*:focus:not(:focus-visible) {
  outline: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  height: 1px;
  width: 100%;
  border: none;
  background-color: var(--gray-500);
}

.en-dash {
  content: "&#8288;&#8211;&#8288;";
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 0 var(--space-400);
  }
}
