.header {
  background-color: var(--darkblue);
  padding: 0 var(--space-300);
  display: flex;
  color: var(--background);
  height: 48px;
  align-items: center;
  border-bottom: 1px solid var(--header-border);
  position: relative;
}

.brand {
  font-weight: var(--weight-heavy);
  color: #fff;
  font-size: var(--size-500);
  height: 50px;
  display: inline-block;
  align-items: center;
  display: flex;
  margin-left: -10px;
  padding: 0 10px;
}

.right {
  text-align: right;
  flex: 1;
}

.button {
  color: white;
  border: none;
  height: 44px;
  width: 44px;
  display: inline-flex;
  font-size: var(--size-600);
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: -10px;
  background: transparent;
  cursor: pointer;
  border-radius: 2px;
}

.button:hover {
  background: rgb(255 255 255 / 10%);
}

.buttonopen {
  background: rgb(255 255 255 / 10%);
}

.menu {
  background: var(--background);
  z-index: 100;
  position: absolute;
  right: 0;
  left: 0;

  display: none;
  box-shadow: var(--shadow-700);
}

.menuopen {
  display: block;
}

.menu a {
  display: flex;
  padding: var(--space-200) var(--space-300);
  height: 44px;
  align-items: center;
}

.menu a:not(:last-child) {
  border-bottom: 1px solid var(--gray-300);
}

@media screen and (min-width: 600px) {
  .header {
    padding: var(--space-100) var(--space-300);
    height: 56px;
  }
  .menucontainer {
    position: relative;
  }
  .menu {
    right: -10px;
    left: auto;
  }
}
