.legend {
  column-gap: 10px;
  row-gap: 4px;
  flex-wrap: wrap;
  display: flex;
}

.legendRange {
  display: flex;
  width: 100%;
}

.legendRange .legendText {
  flex: 1;
}

.legendRange .legendText:last-child {
  text-align: right;
}

.legendRangeColor {
  height: 20px;
  width: 100%;
  background: linear-gradient(90deg, #feebe2 0%, #7a0177 100%);
}

.legendColor {
  height: 12px;
  width: 12px;
  margin-right: var(--space-200);
}

.legendColorSquare {
  height: 12px;
  width: 12px;
  margin-right: var(--space-200);
}

.legendItem {
  display: inline-flex;
  align-items: center;
}

.legendText {
}

@media screen and (min-width: 600px) {
  .legendColor,
  .legendColorSquare {
    height: 14px;
    width: 14px;
  }
  .description {
    font-size: var(--size-700);
  }

  .header {
    padding: var(--space-600) 0;
  }
}
