.container {
  padding: var(--space-200) !important;
  text-align: left;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.container > h5 {
  font-size: var(--size-700) !important;
  margin-bottom: var(--space-200) !important;
}

.container > ul {
  margin-left: 0.8em !important;
}

.container:empty {
  display: none;
}

@media screen and (min-width: 600px) {
  .container {
    padding: var(--space-400) 0 !important;
    margin-bottom: calc(-1 * var(--space-400));
    max-width: 800px;
  }

  .container > ul,
  .container > p {
    font-size: var(--size-600);
  }

  .container > *:last-child {
    margin-bottom: 0;
  }
}
