.header {
	background-color: var(--page-header);
	width: 100%;
	text-align: center;
	padding: var(--space-400);
	border-bottom: 1px solid var(--header-border);
}

.title {
	display: block;
	font-size: var(--size-900);
	font-weight: var(--weight-black);
}

.description {
	font-size: var(--size-700);
	font-weight: var(--weight-normal);
	display: inline-block;
	line-height: 1.5;
	margin-top: var(--space-200);
}

.description:empty {
	display: none;
}

@media screen and (min-width: 600px) {
	.description {
		font-size: var(--size-700);
	}

	.header {
		padding: var(--space-600) 0;
	}
}
