.section {
	border-radius: var(--radius-500);
	padding: 0 var(--space-200);
	background-color: var(--background);
	margin: var(--space-300) var(--space-200) 0;
}

.title {
	font-weight: var(--weight-heavy);
	font-size: var(--size-600);
	height: 44px;
	display: flex;
	align-items: center;
}

@media screen and (min-width: 600px) {
	.title {
		font-size: var(--size-800);
		margin-bottom: var(--space-100);
	}

	.section {
		margin-left: 0;
		margin-right: 0;
	}
}

.accordion {
	width: 100%;
}

.category,
.hour {
	display: flex;
	text-align: left;
	cursor: pointer;
	color: inherit;
	height: 44px;
	margin: 0 calc(-1 * var(--space-200));
	padding: 0 var(--space-200);
	border-top: var(--gray-400) 1px solid;
	align-items: center;
}

.hour {
	background-color: var(--gray-200);
}

.hourName {
	flex: 1;
	font-weight: var(--weight-medium);
	color: var(--heading);
}

.hourRisk {
	flex: 1;
	display: flex;
}

.hourAction {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.categoryName {
	flex: 1;
	color: var(--heading);
	font-weight: var(--weight-medium);
}

.categoryRisk {
	flex: 1;
	justify-self: center;
	display: flex;
}

.categoryAction {
	text-align: right;
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.block {
	width: 100%;
	display: flex;
}

.blockName {
	flex: 1;
}

.blockRisk {
	flex: 1;
}

.blockAction {
	text-align: right;
	flex: 1;
}

@media screen and (min-width: 600px) {
	.category {
		border-top: none;
		background: var(--gray-400);
		margin: 0;
		margin-top: var(--space-200);
		border-radius: var(--radius-500);
		height: 50px;
		padding: var(--space-300) var(--space-300);
	}

	.hour {
		background-color: transparent;
		margin: 0;
		height: 50px;
		padding: var(--space-300) var(--space-300);
	}

	.section {
		margin: 0 0 var(--space-400);
		padding: 0;
	}
}

@media screen and (min-width: 600px) and (prefers-color-scheme: dark) {
	.category {
		background: var(--gray-500);
	}
}
