.section {
  padding: var(--space-500) 0 var(--space-300);
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
}

.detailIcon {
  margin-left: -4px;
  display: inline;
}

.title {
  font-weight: var(--weight-heavy);
  font-size: var(--size-600);
}

.risk {
  font-size: var(--size-900);
  font-weight: var(--weight-black);
  color: var(--heading);
}

.link {
  color: var(--heading);
  display: flex;
  grid-gap: var(--space-200);
  justify-content: center;
}

.desktopText {
  display: none;
}

@media screen and (min-width: 860px) {
  .risk {
    width: 800px;
  }
}

@media screen and (min-width: 600px) {
  .desktopText {
    display: inline;
  }

  .detailIcon,
  .title {
    display: none;
  }

  .section {
    align-items: flex-start;
    background-color: var(--page-header);
    padding: var(--space-700) 0;
    margin-bottom: var(--space-700);
    border-bottom: 1px solid var(--header-border);
    margin: 0 0 var(--space-500);
  }

  .link {
    font-weight: var(--weight-bold);
    justify-content: flex-start;
  }
}
