.section {
  padding: var(--space-800) var(--space-200) var(--space-500);
}

.understanding {
  width: 100%;
}

.heading {
  font-weight: var(--weight-black);
  font-size: var(--size-800);
  margin-bottom: var(--space-500);
}

.resource {
  width: 100%;
}

.resource:not(:last-child) {
  margin-bottom: var(--space-500);
}

.title {
  font-weight: var(--weight-bold);
  font-size: var(--size-700);
  margin-bottom: var(--space-100);
}

@media screen and (min-width: 600px) {
  .resource {
    display: flex;
  }

  .title {
    width: 160px;
    flex-shrink: 0;
  }

  .section {
    padding-left: 0;
    padding-right: 0;
  }
}
