:root {
  --mobile: 600px;

  --darkblue: #172a36;
  --mediumblue: #25465b;
  --risk0: #068677;
  --risk1: #f0b726;
  --risk2: #d3354f;
  --heading: #111;
  --text: #333;
  --background: #fff;
  --link: #06c;
  --background-accent: #edeff1;
  --background-beta: #cdadff;
  --detail-chevron: var(--gray-900);
  --page-header: var(--gray-300);
  --background-content: var(--background);
  --header-border: transparent;

  --resource0: #ccd8ef;
  --resource1: #d6daf5;
  --resource2: #dfe0f5;
  --resource3: #e7edf9;
  --resource4: #eaf8fd;
  --resource5: #ecfefe;

  --gray-900: #ced1d5;
  --gray-800: #d3d6d9;
  --gray-700: #d9dbde;
  --gray-600: #dee0e3;
  --gray-500: #e4e5e7;
  --gray-400: #e9ebec;
  --gray-300: #eff0f1;
  --gray-200: #f4f5f6;
  --gray-100: #fafafa;

  --space-900: 36px;
  --space-800: 32px;
  --space-700: 28px;
  --space-600: 24px;
  --space-500: 20px;
  --space-400: 16px;
  --space-300: 12px;
  --space-200: 8px;
  --space-100: 4px;

  --size-900: 36px;
  --size-800: 24px;
  --size-700: 20px;
  --size-600: 16px;
  --size-500: 14px;

  --weight-black: 900;
  --weight-heavy: 800;
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-normal: 400;

  --text-stroke: -1px -1px 0 #fff, 0 -1px 0 #fff, 1px -1px 0 #fff, 1px 0 0 #fff, 1px 1px 0 #fff,
    0 1px 0 #fff, -1px 1px 0 #fff, -1px 0 0 #fff;

  --radius-500: 5px;

  --shadow-500: 0 0 0 1px rgb(17 20 24 / 10%), 0 0 0 rgb(17 20 24 / 0%),
    0 1px 1px rgb(17 20 24 / 20%);
  --shadow-700: 0 0 0 1px rgb(17 20 24 / 10%), 0 2px 4px rgb(17 20 24 / 20%),
    0 8px 24px rgb(17 20 24 / 20%);

  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --risk0: color(display-p3 0 0.485 0.4);
    --risk1: color(display-p3 0.9 0.709 0);
    --risk2: color(display-p3 0.875 0 0.103);
  }
}

@media screen and (min-width: 600px) {
  :root {
    --size-900: 44px;
    --size-800: 28px;
    --size-700: 23px;
    --size-600: 18px;
    --size-500: 15px;

    --space-900: 45px;
    --space-800: 40px;
    --space-700: 35px;
    --space-600: 30px;
    --space-500: 25px;
    --space-400: 20px;
    --space-300: 15px;
    --space-200: 10px;
    --space-100: 5px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --darkblue: #141414;
    --mediumblue: var(--background);
    --risk0: #63d7bb;
    --risk1: #d7bb63;
    --risk2: #d76380;
    --heading: #fbfbfe;
    --text: #cfcfd8;
    --background: #1e1e1e;
    --link: #74a9f6;
    --background-accent: var(--darkblue);
    --background-content: var(--background);
    --background-beta: #bdb0da;
    --header-border: var(--gray-600);
    --page-header: var(--background);
    --detail-chevron: var(--gray-400);
    --resource0: #404040;
    --resource1: #404040;
    --resource2: #404040;
    --resource3: #404040;
    --resource4: #404040;
    --resource5: #404040;

    --gray-900: #161616;
    --gray-800: #1f1f1f;
    --gray-700: #262626;
    --gray-600: #2e2e2e;
    --gray-500: #363636;
    --gray-400: #3d3d3d;
    --gray-300: #454545;
    --gray-200: #4d4d4d;
    --gray-100: #545454;

    --shadow-700: 0 0 0 1px rgb(17 20 24 / 20%), 0 2px 4px rgb(17 20 24 / 40%),
      0 8px 24px rgb(17 20 24 / 40%);

    --text-stroke: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000,
      0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  }
}

@media screen and (min-width: 600px) and (prefers-color-scheme: dark) {
  :root {
    /*--background: #1c1e20;*/
  }
}
